@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #ff6600;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

.header {
  width: 100%;
  height: 4.5em;
  background: #f7f8f9;
  box-shadow: white 0px 0px 4px;
}
.center-header {
  display: flex;
  width: 100%;
}
.arrow {
  color: var(--primary-color);
  margin: 1.5% 2%;
  font-size: 1.5em;
}

.post h1 {
  padding: 0.6em 0;
  text-align: center;
  font-size: 24px;
  color: var(--text-dark);
}

.main {
  width: 850px;
  height: 202px;
  border: 1px solid rgba(53, 49, 49, 0.2);
  margin: auto;
  border-radius: 5px;
}

.main h4 {
  padding: 20px 30px;
  color: var(--text-dark);
}
nav {
  width: 50%;
}
nav ul {
  position: relative;
  list-style-type: none;
  cursor: pointer;
}
nav ul li {
  padding: 12px 10px;
  color: var(--text-dark);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-bottom: none;
}
nav ul li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav ul li i {
  font-size: 20px;
  width: 40px;
  position: relative;
}
nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-light);
}
nav ul li span {
  position: absolute;
  right: 0;
}
.first-link:hover,
.second-link:hover {
  color: var(--primary-color);
  background-color: #cfcdcd;
  transition: 0.2s;
}
nav ul ul {
  position: absolute;
  left: 425px;
  top: 0;
  width: 100%;
  display: none;
}
nav ul ul li {
  padding: 13.2px 20px;
}
nav ul ul li {
  border-right: none;
}
nav ul .first-link {
  position: relative;
}
nav ul .first-link:hover ul {
  display: initial;
}
#position {
  top: -140px;
}
#position-2 {
  top: -235px;
}
#position-3 {
  top: -187px;
}
#position-4 {
  top: -140px;
}
#position-5 {
  top: -187px;
}

/* ================================== */

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

main .proposta {
  width: 40%;
  border-radius: 5px;
  padding: 2rem;
  background: #f7f8f9;
}

mian .proposta form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .proposta h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

main .proposta button {
  background: var(--primary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

main .proposta button:hover {
  filter: brightness(0.9);
}

.inner__input input, .inner__input select, .inner__input textarea {
  width: 20rem !important;
}

.inner__heading {
  margin-bottom: 4% !important;
}

main .anuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 60%;
  border-radius: 5px;
  padding: 0 2rem;
}

main .anuncio h1 {
  color: var(--text-dark);
  font-size: 2rem;
}

main .anuncio span {
  color: var(--text-dark);
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

main .anuncio h2 {
  color: var(--text-dark);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .anuncio p {
  color: var(--text-dark);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

main .anuncio .anuncio__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

main .anuncio .anuncio__header img {
  width: 100%;
  max-width: 25rem;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(53, 49, 49, 0.2);
  margin-bottom: 1rem;
}

main .anuncio .anuncio__header .anuncio__header__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
}

table th {
  background: var(--primary-color);
  color: var(--white);
  padding: 0.5rem;
}

table td {
  padding: 0.5rem;
}

table tr:hover {
  background: #f7f8f9;
}

hr {
  width: 100%;
  border: 1px solid rgba(53, 49, 49, 0.2);
}

.anuncio__body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vendedor {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: #111827;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem var(--text-dark);
}

.vendedor img {
  width: 8rem;
}

.vendedor .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vendedor .info h3 {
  color: var(--white);
  font-size: 1.5rem;
}

.vendedor .info span {
  color: var(--white);
  font-size: 1.2rem;
}

.vendedor .info i {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feedback h2 {
  margin-bottom: 0 !important;
}

.modal-feedback {
  display: flex ;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}




